.MuiContainer-root {
    &.main-content {
        .hero-section {
            background-color: #320724;
            position: sticky;
            top: 0;
            z-index: 2000;

            .search-section {
                position: relative;
                padding-top: 20px;
                padding-bottom: 10px;
                
                .search-field {
                    background-color: #320724 !important;

                    input {
                        background-color: #FFFFFF !important;
                    }
                }
            }
            .title-section {
                text-align: center;
                color: #FFFFFF;
                padding-top: 10px;
            }
        }

        .results-section {
            background-color: #000000;
            color: #FFFFFF;
            .MuiTypography-h4 {
                text-align: center;
                margin-top: 50px;
            }

            .drinks-section {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;

                .beverage-card-wrapper {
                    margin: 5px;
                    max-width: 330px;
                    min-width: 250px;
                    .beverage-header {
                        .MuiCardHeader-title.MuiTypography-h5 {
                            font-size: 1.25rem !important;
                        }
                    }
                    .beverage-content {
                        padding-top: 0px;
                        min-height: 134px;
                        width: 300px;
                        .ingredients-list {
                            padding-left: 15px;
                        }
                    }
                }

                .beverage-card-skeleton {
                    width: 330px;
                    min-width: 250px;
                    margin: 5px;
                }
                
            }
        }
    }

}